@media (max-width: 550px) {
    .main-container {
        flex-direction: column;
        width: 100vw;
        padding: 2.5rem;
    }

    .main-container > section {
        width: 100%;
    }

    ul.tip-percentage-list {
        justify-content: space-between;
    }

    ul.tip-percentage-list button,
    ul.tip-percentage-list input {
        min-width: 8.5rem; /* 137px */
    }

    .currency {
        font-size: 2rem;
    }

    .tip-amount, .total-amount {
        font-size: 2.1rem;
    }

    .reset-result-btn {
        margin-top: 0;
    }

    footer {
        margin-top: 2rem;
    }
}


@media (min-width: 551px) and (max-width: 1099px) {
    .main-container {
        flex-direction: column;
        width: 34rem;
    }

    .main-container > section {
        width: 100%;
    }

    ul.tip-percentage-list {
        justify-content: space-between;
    }

    ul.tip-percentage-list button,
    ul.tip-percentage-list input {
        min-width: 8.5rem; /* 137px */
    }

    footer {
        margin-top: 2rem;
    }
}
