input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

section.user-input {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.user-input > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.user-input label {
    color: #5b7071;
}

input[type="number"] {
    -moz-appearance: textfield;
    text-align: end;
    padding: 0.3rem 1rem;
    font-size: 1.5rem;
    background-color: #f3f8fb;
    border-radius: 7px;
    border-width: 0;
    outline: none;
    position: relative;
}

.input-icon-container {
    position: relative;
    bottom: 40px;
    left: 15px;
    max-width: 5vw;
}

.select-tip-text {
    color: #5b7071;
}

ul.tip-percentage-list {
    list-style-type: none;
    display: flex;
    font-size: 1.5rem;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0.3rem;
}

ul.tip-percentage-list button {
    border-radius: 5px;
    border-width: 0;
}

.percentage-btn {
    padding: 0.3rem 2rem;
    min-width: 123px;
    background-color: #00474b;
    color: #fff;
}

.custom-percentage-btn {
    max-width: 123px;
    padding: 0.3rem 1.2rem;
    background-color: #f3f8fb;
    color: #6a8786;
}

input[type="number"]::placeholder {
    color: #9bb9bb;
}
