input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

section.user-input {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.user-input > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.user-input label {
    color: #5b7071;
}

input[type="number"] {
    -moz-appearance: textfield;
    text-align: end;
    padding: 0.3rem 1rem;
    font-size: 1.5rem;
    background-color: #f3f8fb;
    border-radius: 7px;
    border-width: 0;
    outline: none;
    position: relative;
}

.input-icon-container {
    position: relative;
    bottom: 40px;
    left: 15px;
    max-width: 5vw;
}

input[type="number"]::placeholder {
    color: #9bb9bb;
}
